.profile-header-bg{
  /* TODO improve */
  padding-top: 40px;
}

.profile-picture{
  width: 128px;
  height: 128px;
  font-size: 128px !important;
}

/* TODO: Improve look to fall in better with the card */
.profile-picture-box{
  margin-top: -80px;
  background-color: #fff;
  padding: 0.2em;
  float: left;
}

.profile-username{
  margin-top: 0;
}
